@import "tailwindcss";

@theme {
  --ease-mater: cubic-bezier(0.65, 0, 0.35, 1);
}

html,
body,
#root {
  height: 100%;
  overflow: hidden;
}

@keyframes entrar-desde-abajo {
  from {
    translate: 0 100%;
    opacity: 0;
  }
  to {
    translate: 0 0;
    opacity: 1;
  }
}

@keyframes entrar-desde-arriba {
  from {
    translate: 0 -100%;
    opacity: 0;
  }
  to {
    translate: 0 0;
    opacity: 1;
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    transition-duration: 0.01ms !important;
    transition-delay: 0ms !important;
    animation-duration: 0.01ms !important;
    animation-delay: 0ms !important;
  }
}
